<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.tylerjchesley.creatures"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-sdk android:minSdkVersion="13"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:theme="@style/Theme.Creatures"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">

        <activity
                android:name=".ui.CreaturesActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.CreatureActivity"
                android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.creatures.creature" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".ui.CreaturesActivity" />
        </activity>

        <activity
                android:name=".ui.EditCreatureActivity"
                android:label="@string/add_creature">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.creatures.creature" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.creatures.creature" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".ui.CreaturesActivity" />
        </activity>

        <provider
                android:name=".provider.CreaturesProvider"
                android:authorities="com.tylerjchesley.creatures"
                android:syncable="true"
                android:label="@string/app_name" />

    </application>

</manifest>
